/* reset css */

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:#FFFFFF;
/* scroll-behavior: smooth; */

}




.typewriter h1 {
  color: #f9f9f9;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 ; /* Gives that scrolling effect as the typing happens */
   /* Adjust as needed */
   /* float: left; */
   max-width: 490px;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    /* max-width: 420px;   */
    font-size: 2rem;
    font-weight: bold;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



.h{
  display: flex;
  justify-content: center;
}


.w3rcontainer{
  border: 1px solid #cccfdb;
  border-radius: 2px;
} 
.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: #0087ca;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #0087ca;
 transform-origin: bottom right;
 transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}


/* .inertext:hover{
  width: 100px;
  height: 2px;
  border-bottom:2px solid red;
  animation-name: example;
  animation-duration: 4s;
} */

/* @keyframes line {
  from {width:1%;}
  to {width:100%;}
} */

.hello{
  /* margin-bottom: 50px; */
}






.section {
  /* border: 2px solid red; */
  background-image:url(bg.png);  
  
  background-repeat: no-repeat;
  background-size: 100%;
   width: 100%;
  height: 100%; 
background-attachment: fixed;

  /* height: 100vh; */
  /* width: 100vw; */
 }
 /* @media only screen and (max-width: 768px) {
  .section {
    border: 2px solid red;
    background-image:url(sbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
   }

} */
.hed{
  /* padding: 2.7rem 1.7px; */
}


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;571&display=swap');

.hello{
font-size: 2.7rem;
font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px){

  .hello{
    font-size:2rem;
  }
  .typewriter h1{
    font-size: 1.5rem;
    max-width: fit-content;
  }
  
}

@media screen and (max-width: 412px){

  .hello{
    font-size:1rem;
  }

  .typewriter h1{
    font-size: 0.7rem;
    max-width: 175px;
  }

  .hed{
    padding: 0rem 0.2px;
  }

 
  .mail{
    font-size: 0.2rem;
    padding-top: 4px;
  }
  
  
  .hadtext {
    /* border: 2px solid rgb(0, 0, 0); */
  
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 1px  50px
  }
  .all{
    margin: 16rem 0rem;
  }
  

} 


.all{
  padding: 0px 16px;
}
.job{
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}
@media screen and (max-width: 768px){

  .job{
    font-size:1rem;
  }

  .mail{
    font-size: 0.7rem;
    padding-top: 4px;
  }
}




.aboutsection{
  border: 2px solid red;
}

.container {
  /* border:2px solid red; */
 padding: 16rem 8rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    /* border: 2px solid red; */
    padding: 1rem 3rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;571&display=swap');

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
}

@media screen and (max-width: 768px){

  .button{
    height: 1.8rem;
    background-size: 100%;
    font-size: 1.2rem;
  }
}


.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}


.pic {
  /* width: 190px;
    height: 254px; */
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}


button {
  color: #090909;

  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

button:hover {
  border: 1px solid white;
}

/* button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  } */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;571&display=swap');

.hadtext {
  /* border: 2px solid rgb(0, 0, 0); */

  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 34px 2px;
}

.inertext {
  /* border-bottom: 2px sol id rgb(243, 136, 136); */
  /* padding-top: 1rem; */
  color: #173B6C;
}



.summary{
  padding-bottom:  4px;
}

.buttonn {
  border: 2px solid red;
  /* width: 140px;
  height: 56px; */
  overflow: hidden;
  /* border: none; */
  color: rgb(0, 0, 0);
  background: none;
  position: relative;
  padding-bottom: 1em;
}


.buttonn>div,
button>svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}



.buttonn .clone>* {
  transform: translateY(60px);
}

.buttonn:hover .clone>* {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.buttonn:hover .text>* {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.buttonn:hover .clone> :nth-child(1) {
  transition-delay: 0.15s;
}

.buttonn:hover .clone> :nth-child(2) {
  transition-delay: 0.2s;
}

.buttonn:hover .clone> :nth-child(3) {
  transition-delay: 0.25s;
}

/* .buttonn:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
} */

.card {
  /* width: 390px;
    height: 390px; */
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.skillcard {
  /* width: 190px;
    height: 254px; */
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cards {
  perspective: 500px;
}

.card {
  width: 200px;
  height: 250px;
  background: #16161d;
  border: 2px solid #555555;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_title {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform .5s;
  font: 700 1.5rem monospace;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.card:hover .card_title {
  transform: translateZ(50px);
}

.parent{
 
  display: grid;
  margin: 10px;
  gap: 40px;
  padding: 2px;
  grid-template-columns: repeat(3,1fr);
}

.child{
  /* border-radius: 10px; */
  /* border: 2px solid rgb(0, 0, 0); */
  display: grid;
  place-items: center;
  padding: 2px;
  

  /* background-color: rgb(149, 153, 131); */
}

@media (max-width: 768px) {
  .parent{
    grid-template-columns: repeat(2,1fr);
  }
  
}

@media (max-width: 480px) {
  .parent{
    grid-template-columns: repeat(1,1fr);
  }
  
}


.child {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.child::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.child:hover::after {
  width: 100%;
transition: width .3s;
}





.projectparent{
  display: grid;
  margin: 10px;
  gap: 30px;
  padding: 2px;
  grid-template-columns: repeat(3,1fr);
}

.projectchild{
  border-radius: 10px;
  
  /* border: 2px solid rgb(0, 0, 0); */
  display: grid;
  place-items: center;
  /* padding: 2px; */

  /* background-color: #FAF7F2; */
}
@media (max-width: 768px) {
  .projectparent{
    grid-template-columns: repeat(2,1fr);
  }
  
}

@media (max-width: 480px) {
  .projectparent{
    grid-template-columns: repeat(1,1fr);
  }
  
}
.img{
  border-radius: 8px;
  height: 232px;
}
.projectchild:hover{
  /* box-shadow: 10px 0px 10px#898686; */
}

.line{
  /* position: fixed; */
  top: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #222;
  z-index: 99999;
  overflow: hidden;
}
.dot{
  position: absolute;
  height: 100%;
  width: 5px;
  background: #fff;
  animation: dotleft 2s cubic-bezier(.72,.03,.75,.54) infinite;
}
.dot1{
}
.dot2{
  animation-delay: .4s;
}
.dot3{
  animation-delay: .8s;
}
.dot4{
  animation-delay: 1.2s;
}
.dot5{
  animation-delay: 1.6s;
}
@keyframes dotleft {
  0% {
      left: 0%;
  }
  100% {
      left: 100%;
  }
}







